<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome</title>
</head>
<body>
    <!-- Header -->
        <section id="header">
            <div class="header container">
                <div class="navbar">
                    <ul>
                        <li><a href="#">LOGO</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About Me</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Header -->
    
    
        <!-- Top Section -->
        <section id="top">
            <div class="top container">
                <div>
                    <h1>PLAY TRADITIONAL GAME</h1>
                    <h2>Experience New Traditional Game play<h2>
                    <a href="#" type="button" class="cta">Play Now</a>
        </div>
        </section>
        <!-- End Top Section -->
    
    
    
        <!-- The Games Section -->
        <section id="games">
            <div class="games container">
                <div>
                    <h1>What's So Special?</h1>
                    <h2>THE GAMES</h2>
                </div>
            <div class="games-img">
                <img src="./assets/images/rockpaperstrategy-1600.jpg" alt="img">
            </div>
        </section>
        <!-- End The Games Section-->
    
    
    
    
    
        <!-- Features Section -->
    
        <section id="features">
            <div class="features container">
                <div>
                    <h1>What's so special?</h1>
                    <h2>FEATURES</h2>
                    <h3>TRADITIONAL GAMES</h3>
                        <p>If you miss your childhood, we provide many traditional games here</p>
                    <h4>GAME SUIT</h4>
                    <h5>TBD</h5>
                </div>
            </div>
        </section>
        <!-- End Features Section -->
    
        <!-- System Req Section -->
    
        <section id="system">
            <div class="system container">
                <div>
                    <h1>SYSTEM REQUIREMENTS</h1>
                    <h1>OS:</h1>
                        <p>Windows 7 64-Bit Only (No OSX Support at this time)</p>
                    <h1>PROCESSOR:</h1>
                        <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon X2 @2.8GHZ</p>
                    <h1>MEMORY:</h1>
                        <p>4 GB RAM</p>
                    <h1>STORAGE:</h1>
                        <p>8 GB Available Space</p>
                    <h1>GRAPHICS:</h1>
                        <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                </div>
            </div>
        </section>
    
</body>
</html>